<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://cdn.potatopro.com/sites/default/files/styles/large/public/2020-10/fmc-corporation-1600x785.jpg?itok=PecP-K0v"  width="50" height="50" alt="">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav justify-content-center  ">
              <li class="nav-item">
                <a class="nav-link active"  aria-current="page" href="/api/v1/post">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" style="border-style:solid blue ;" aria-current="page" href="/api/v1/career">Career Library</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/api/v1/user/profile">Profile Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/api/v1/user/login">Login / Signup</a>
              </li>
            </ul>

          </div>
        </div>
    </nav>
</header>
<br><br><br>