<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="fotter.css"> -->
    
    <style>
        #pad-d{
            margin-left: 3px;
        }
        img {
            transition: transform 0.3s ease;
            border-radius: 15px;
            margin-bottom: 1.5em;
          }
          img:hover {
            transform: scale(1.1);
          }
          .card{
            border: 1px solid grey; 
            box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
          }

    </style>

</head>
<body>
    <%- include('partials/header') %>


<br>
<div align="center" class="display-5">Science</div>

<br><br>

    <div style="padding: 0px 50px 0px 50px;" >
        Science as a profession will be all about innovation, discovery and research. It's about trying new things, experimenting and making exhilarating scientific breakthroughs. It's about doing things that nobody else has ever done before. It's about bringing development to people's lives, and enhancing our knowledge and understanding of nature, the world and the universe. Careers related to science are definitely some of the most exciting, and notable out there. Much like the stars, careers in scientific research and development are literally infinite; new things can always be discovered and things can always be improved. Research would be a persistent part of every scientific career. A purely research dominant scientific career can be explored within research labs or an academic institution. Nevertheless, research creates possibilities for practical applications, so research and development based careers in applied science are much more commercial. Hence choosing a science-based career is not going to fail you anywhere in the near future.   
    </div>

<br> <br>

<center>
    <div class="container">
        <div class="row g-3 mx-auto">
            
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem; ">
                    <center><img src="https://lmes-mars-cdn.jujube.in/images/departments/1589801374913_image.png" style="width: 200px;" class="card-img-top" alt="A Street in Europe"></center>
                    <div class="card-body">                             
                        <h5 class="card-title" align="center"> Bio-Chemist</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <center><img src="https://lmes-mars-cdn.jujube.in/images/departments/1589878961802_image.png" style="width: 200px;" class="card-img-top" alt="A Street in Europe"></center>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Physicist</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <center><img src="https://lmes-mars-cdn.jujube.in/images/departments/1589801429201_image.png" style="width: 200px;" class="card-img-top" alt="A Street in Europe"></center>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Biologist</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <center><img src="https://lmes-mars-cdn.jujube.in/images/departments/1589878592086_image.png" style="width: 200px;" class="card-img-top" alt="A Street in Europe"></center>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Micro-biologist</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <center><img src="https://lmes-mars-cdn.jujube.in/images/departments/1589810227959_image.png" style="width: 200px;" class="card-img-top cimg" alt="A Street in Europe"></center>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Botonist</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <center><img src="https://lmes-mars-cdn.jujube.in/images/departments/1589875961694_image.png" style="width: 200px;" class="card-img-top" alt="A Street in Europe"></center>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Entamologist</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <center><img src="https://lmes-mars-cdn.jujube.in/images/departments/1589879331866_image.png" style="width: 200px;" class="card-img-top" alt="A Street in Europe"></center>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Zoologist</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <center><img src="https://lmes-mars-cdn.jujube.in/images/departments/1589879350092_image.png" style="width: 200px;" class="card-img-top" alt="A Street in Europe"></center>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Wildlife Scientist</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <center><img src="https://lmes-mars-cdn.jujube.in/images/departments/1589877234805_image.png" style="width: 200px;" class="card-img-top" alt="A Street in Europe"></center>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Geologist</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>

<br><br>
<br>
<div align="center" class="display-5">Current  Jobs Openings </div><br><br>
<br>

<div style="padding: 0px 50px 0px 50px; ">
       <div class="card" style="transform: none;">
        <div class="card-body" >
          <h5 class="card-title">Geologist</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Visit 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
              </svg>
          </a>
        </div>
      </div>
      <br>

      <div class="card" style="transform: none;">
        <div class="card-body">
          <h5 class="card-title">Zoologist</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Visit 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
          </svg>
        </a>
        </div>
      </div>
      <br>

      <div class="card" style="transform: none;">
        <div class="card-body">
          <h5 class="card-title">Wildlife Scientist</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Visit 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
          </svg>
        </a>
        </div>
      </div>
      <br>

      <div class="card" style="transform: none;">
        <div class="card-body">
          <h5 class="card-title">Chemist</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Visit 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
          </svg>
        </a>
        </div>
      </div>
      <br>
      </div>
<!-- fotter -->
<!-- fotter -->
<%- include('partials/fotter') %>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>
<style>
    
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}
.footer {
background: linear-gradient(105deg,#6e99e6 ,#093c94);
padding-top: 80px;
padding-bottom: 40px;
}
/*END FOOTER SOCIAL DESIGN*/

@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
color: #fff;
margin-top: 0;
margin-bottom: 25px;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
}
.single_footer h4::after {
content: "";
display: block;
height: 2px;
width: 40px;
background: #fff;
margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
}

.single_footer ul li a {
color: #fff;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 15px;
text-transform: capitalize;
}
.single_footer ul li a:hover { color: #ff3666; }

.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
}
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
display: block;
position: relative;
margin-top: 15px;
width: 100%;
}
.subscribe__input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #01c7e9;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
color:#ff3666;
}
button {
padding: 0;
border: none;
background-color: transparent;
-webkit-border-radius: 0;
border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}
.social_profile ul li a:hover{
background:#ff3666;
border: 1px solid #ff3666;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 70px;
padding-top: 40px;
color:#fff;
font-size: 15px;
border-top: 1px solid rgba(255,255,255,0.4);
text-align: center;
}
.copyright a{color:#01c7e9;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#ff3666;}





</style>